.whatsapp {
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
}

.bi-whatsapp {
  font-size: 55px;
  color: var(--color-principal);
}

.w-t {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 2px;
}